@page "/twitterstatistic"

@if (TwitterStatisticdto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>Date: @TwitterStatisticdto.CreatedDate.ToShortDateString()</h3>
    <h3>Total number of tweets received: @TwitterStatisticdto.NumberOfTweets</h3>
    <h3>Top 10 Hashtags on Twitter right now.</h3>

    @foreach (var hashtag in TwitterStatisticdto.Top10HashTag)
    {
        <p>#@hashtag</p>
    }
}

